<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/dist/css/style.css" rel="stylesheet">
    <title>TEMPLATE</title>

    <link rel="icon" type="image/png" href="/assets/icons/favicon.png">
    
    <link rel="icon" type="image/x-icon" href="/assets/icons/favicon.ico">

    <link rel="apple-touch-icon" href="/assets/icons/apple-touch-icon.png">
</head>
<body class="bg-zinc-800">

    <div id="navbar-placeholder" class="animate-fade-in"></div>

    <div id="footer-placeholder" class="animate-fade-up"></div>

    <script src="/dist/js/main.js"></script>
    
</body>
</html>